//Rotate

.rotate1 {
  transform-origin: 160px 57px;
  animation: rotate 2s linear backwards;
  animation-iteration-count: infinite;
  -ms-animation: rotate linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 160px 57px;
}

.rotate2 {
  transform-origin: 98px 17px;
  animation: rotate 2s linear backwards;
  animation-iteration-count: infinite;
  -ms-animation: rotate linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 98px 17px;
}

.rotate3 {
  transform-origin: 22px 106px;
  animation: rotate 2s linear backwards;
  animation-iteration-count: infinite;
  -ms-animation: rotate linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 22px 106px;
}

.rotate4 {
  transform-origin: 148px 141px;
  animation: rotate 2s linear backwards;
  animation-iteration-count: infinite;
  -ms-animation: rotate linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 148px 141px;
}

.rotate5 {
  transform-origin: 98px 139px;
  animation: rotate 2s linear backwards;
  animation-iteration-count: infinite;
  -ms-animation: rotate linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 98px 139px;
}

.rotate6 {
  transform-origin: 37px 86px;
  animation: rotate 2s linear backwards;
  animation-iteration-count: infinite;
  -ms-animation: rotate linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 37px 86px;
}

.rotate7 {
  transform-origin: 68px 23px;
  animation: rotate 2s linear backwards;
  animation-iteration-count: infinite;
  -ms-animation: rotate linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 68px 23px;
}

@keyframes rotate {
  0% {
    transform:  rotate(0deg) ;
  }
  50% {
    transform:  rotate(180deg) ;
  }
  100% {
    transform:  rotate(360deg) ;
  }
}

@-ms-keyframes rotate {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  50% {
    -ms-transform:  rotate(180deg) ;
  }
  100% {
    -ms-transform:  rotate(360deg) ;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  50% {
    -webkit-transform:  rotate(180deg) ;
  }
  100% {
    -webkit-transform: rotate(360deg) ;
  }
}

@-o-keyframes rotate {
  0% {
    -o-transform: rotate(0deg) ;
  }
  50% {
    -o-transform: rotate(180deg) ;
  }
  100% {
    -o-transform: rotate(360deg) ;
  }
}

@-ms-keyframes rotate {
  0% {
    -ms-transform: rotate(0deg) ;
  }
  50% {
    -ms-transform: rotate(180deg) ;
  }
  100% {
    -ms-transform: rotate(360deg) ;
  }
}