.desktop-nav, .desktop-nav ul {
	display: none;
}

.mobile-nav {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.mobile-nav-closed {
	display: none;
}

.hamburger-menu {
	margin: 0 0 0 auto;
	background: red;
	height: 50px;
	width: 50px;
}


/* Media Queries */

@media screen and (min-width: 690px) {

	.desktop-nav, .desktop-nav ul {
		display: flex;
	}

	.hamburger-menu, .mobile-nav {
		display: none;
	}
	
}